<p>
  <a href="https://hpc-carpentry.github.io">HPC Carpentry</a>
  is a new initiative designed to teach researchers the basics
  of scientific computing, in particular accessing and using
  high-performance computing installations that have become commonplace in
  modern research.
  This hands-on workshop will cover basic concepts and tools,
  including using a cluster, programming in Python, and pipeline/task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
  For more information on what we teach and why,
  please see the <a href="https://hpc-carpentry.github.io/">HPC Carpentry website</a>.
</p>
