<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to High Performance Computing</h3>
    <ul>
      <li>Connecting to a cluster</li>
      <li>Shell basics: files, directories, and text editing</li>
      <li>Writing and running shell scripts</li>
      <li>Environment variables</li>
      <li>Scheduling jobs on a cluster</li>
      <li>Accessing and compiling software</li>
      <li>Transferring files</li>
      <li><a href="https://hpc-carpentry.github.io/hpc-intro">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Basic Python programming and syntax</li>
      <li>Writing and executing Python scripts</li>
      <li>Storing data using lists, dicts, and Numpy arrays</li>
      <li>Functions and conditions</li>
      <li>Parallel programming concepts</li>
      <li>Writing an analysis pipelines with Snakemake</li>
      <li>Executing a pipeline across a cluster or local computer</li>
      <li><a href="https://hpc-carpentry.github.io/hpc-python">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-chapel">Parallel Computing with Chapel</h3>
    <ul>
      <li>Basic Chapel language syntax</li>
      <li>An overview of parallel programming concepts</li>
      <li>Writing shared-memory parallel programs</li>
      <li>Writing distributed-memory parallel programs</li>
      <li>Executing Chapel programs on a compute cluster</li>
    </ul>
  </div>
  -->
</div>
